body { line-height: 1.3; }

.element-summary { background: #d9e8ff; padding: 1em; margin-top: 1em }
.element-summary-name { float: right; font-size: 110% }
.element-summary dl, .element-summary dt { margin-top: 0; margin-bottom: 0; }
.element-summary * + dt { margin-top: 0.5em; }
.element-summary dd { margin-top: 0; }
.element-summary ul.no-bullets { list-style: none; padding-left: 0em }
.element-summary ul.no-bullets li { padding-left: 2em; text-indent: -2em; }
.expander { color: #888; text-decoration: underline; cursor: pointer; font-size: 85% }
.expander { }
.expander:active { color: #C00 }
.expander:hover { background: #ffa }
.expander:after { content: 'show »' }

.xgrammar { /*color: #005a9c;*/ color: #A52A2A; font-family: monospace; font-size: 90% }

pre.idl { color: black; background: #d9e8ff; padding: 1em; margin-top: 1em; margin-left: 0; font-size: 1em; overflow: auto; /*white-space: pre-wrap*/ }
pre.idl a:link, pre.idl a:visited { color: black; }

dl.interface dt {
  margin-top: 1em;
}

dl.interface dl.attributes > dt,
dl.interface dl.constants > dt,
dl.interface dl.operations > dt {
  margin-top: 2em;
}

dl.interface dl.attributes > dt,
dl.interface dl.constants > dt,
dl.interface dl.operations > dt,
dl.interface ol.parameters > li,
dl.interface dl.exceptions > dt {
  font-weight: normal;
  display: list-item;
}

dl.interface dl.attributes > dt:first-child,
dl.interface dl.constants > dt:first-child,
dl.interface dl.operations > dt:first-child,
dl.interface ol.parameters > li:first-child,
dl.interface dl.exceptions > dt:first-child {
  margin-top: 0;
}

dl.interface dl.attributes > dd,
dl.interface dl.constants > dd,
dl.interface dl.operations > dd,
dl.interface ol.parameters > li,
dl.interface dl.exceptions > dd {
  margin-top: 0.5em;
  margin-left: 0;
}

dl.interface dl.attribute {
  /*margin-left: 2em;*/
}

dl.interface dd > *:first-child,
dl.interface ol.parameters > li,
dl.interface ol.parameters > li > *:first-child + * {
  margin-top: 0;
}

ol.parameters > li > .parameter {
  float: left;
}

ol.parameters > li > .parameter:after {
  content: " — ";
}

.idl .keyword {
  /*font-weight: bold;*/
}

.idlattr, .idlattr:link, .idlattr:visited {
  background: #d9e8ff;
  color: black;
}

ol.parameters {
  list-style-type: disc;
  padding-left: 0;
}

var {
  font-style: italic;
}

dl.definitions > dt,
.adef-list dl > dt { margin-top: 1em; }

dl.definitions > dt + dt,
.adef-list dl > dt + dt { margin-top: 0; }

dl.definitions > dd > :first-child,
.adef-list dl > dd > :first-child { margin-top: 0; }

table.vert {
  border-collapse: collapse;
  border-top: 2px solid #005a9c;
  border-bottom: 2px solid #005a9c;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
table.vert td {
  background: #f0f6ff;
}
table.vert th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid #005a9c;
  white-space: nowrap;
  color: #d9e8ff;
  background: #005a9c;
}
table.vert th a:link,
table.vert th a:visited { color: #d9e8ff; }
table.vert th a:hover { color: black; }
table.vert th, table.vert td { padding: 0.5em 0.75em; }
table.vert th .attr-name { color: white }
table.vert th a:hover .element-name { color: #2A2AA5 }
table.vert th .prop-name { color: white }
table.vert th a:hover .element-name { color: black }
table.vert th .element-name { color: white }
table.vert th a:hover .element-name { color: #A52A2A }
table.vert td { vertical-align: top; }
table.offset { margin-left: 2em; margin-right: 2em; }
.indented {
  margin-left: 2em;
}
.math var, .math sub, .math sup {
  font-family: serif;
}
.separated {
  word-spacing: 1em;
}
.familyname {
  text-transform: uppercase;
}

dl.unemphasized-names > dt > a { font-weight: normal }

.header { background: #eee; padding: 0.5em; font-size: 85%; text-align: right }
.header.top { border-top: 1px solid #ccc }
.header.bottom { border-bottom: 1px solid #ccc; margin-top: 1em }
.header .namedate { display: block; float: left }
.header ul { display: block; margin: 0 }
.header ul li { display: inline; margin: 0 }
.header ul li:first-child:before { content: none }
.header ul li:before { content: ' ⋅ ' }
.header .after { display: block; clear: both; height: 1px }
.header .after:before { content: ' ' }

table.property-table { font-size: 90%; border-collapse: collapse }
table.vert td { border-top: 1px solid #005a9c; }
.tocline1 { font-weight: bold }
/* .toc { margin-bottom: 0.5em } */

.idl-type-parenthetical { font-size: 90% }
td > :first-child,
th > :first-child { margin-top: 0 }
td p {
  margin-top: 1em;
  margin-bottom: 0;
}

table.collection { border-collapse: collapse; background: #fff; font-size: 90%; margin-bottom: 1em; margin-left: 2em }
table.collection th { background: #eee }
table.collection td, table.collection th { border: 1px solid black; padding: 0.25em; vertical-align: baseline }

ol.notes { list-style-type: none; padding-left: 0 }

.colorpatch { width: 14px; height:14px; border: 1px solid black; }
