.term {
    FONT-WEIGHT: bold; COLOR: #aa3333; BACKGROUND-COLOR: white
}
PRE {
    FONT-SIZE: 90%; MARGIN-LEFT: 2em; COLOR: #a52a2a; FONT-FAMILY: monospace; BACKGROUND-COLOR: white
}
PRE.schema {
    BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.5em; FONT-SIZE: 90%; BACKGROUND: #ddddff; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 2em; BORDER-LEFT: black 1px solid; COLOR: maroon; MARGIN-RIGHT: 3em; PADDING-TOP: 0.5em; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: monospace
}
PRE.example {
    BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.5em; FONT-SIZE: 90%; BACKGROUND: #ddffdd; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 2em; BORDER-LEFT: black 1px solid; COLOR: #a52a2a; MARGIN-RIGHT: 3em; PADDING-TOP: 0.5em; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: monospace
}
.dtd-fragment {
    BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; MARGIN-LEFT: 0px; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #dddddd
}
.idl-code {
    BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; MARGIN: 0px; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: monospace; WHITE-SPACE: pre; BACKGROUND-COLOR: #dfdfdf
}
.adef {
    FONT-WEIGHT: bold; FONT-FAMILY: monospace
}
IMG {
    BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.toc {
    TEXT-INDENT: 0px
}
.toc2 {
    TEXT-INDENT: 2em
}
.toc3 {
    TEXT-INDENT: 4em
}
P.toc-line {
    MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em; TEXT-INDENT: 0px
}
.example {
    COLOR: maroon; BACKGROUND-COLOR: white
}
.pseudocode {
    BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; COLOR: #990000; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #ccccff
}
.algorithm OL {
    LIST-STYLE-TYPE: decimal
}
.algorithm OL LI {
    MARGIN-TOP: 0.25em; MARGIN-BOTTOM: 0.25em
}
.algorithm OL LI OL {
    LIST-STYLE-TYPE: lower-alpha
}
.algorithm OL LI OL LI {
    MARGIN-TOP: 0.25em; MARGIN-BOTTOM: 0.25em
}
.algorithm OL LI OL LI OL {
    LIST-STYLE-TYPE: lower-roman
}
.algorithm OL LI OL LI OL LI {
    MARGIN-TOP: 0.25em; MARGIN-BOTTOM: 0.25em
}
.note {
    BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; BACKGROUND: #aaffaa; PADDING-BOTTOM: 0.3em; MARGIN: 1em; BORDER-LEFT: black 1px solid; COLOR: black; PADDING-TOP: 0.3em; BORDER-BOTTOM: black 1px solid
}
P.caption {
    FONT-WEIGHT: bold; FONT-SIZE: 90%; MARGIN: 1.5em 25% 0px; COLOR: #088; FONT-STYLE: italic; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
CAPTION {
    FONT-WEIGHT: bold; FONT-SIZE: 90%; MARGIN: 1.5em 25% 0px; COLOR: #088; FONT-STYLE: italic; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
.element {
    FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #a52a2a; BACKGROUND-COLOR: white
}
.type {
    FONT-WEIGHT: bold; FONT-SIZE: 90%
}
.attribute {
    FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #2a2aa5; BACKGROUND-COLOR: white
}
.property {
    FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: black; BACKGROUND-COLOR: white
}
.attribute-value {
    FONT-WEIGHT: bold; FONT-SIZE: 90%
}
.property-value {
    FONT-WEIGHT: bold; FONT-SIZE: 90%
}
.interface {
    FONT-WEIGHT: bold
}
.dom-attribute {
    COLOR: black; BACKGROUND-COLOR: #ffffd2
}
.dom-attribute-type {
    FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: white
}
.dom-attribute-value {
    FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: white
}
.dom-method {
    COLOR: black; BACKGROUND-COLOR: #d9e6f8
}
.dom-parameter {
    COLOR: black; BACKGROUND-COLOR: #fee6f8
}
